:root {
    --bg-0: #ffff;
    --bg-1: #fecf;
}

body {
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-left: 1rem;
    background-color: var(--bg-1);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SurfForm {
    width: 400px;
    & div {
        display: flex;
        justify-content: space-between;
    }    
}

#graph, #stats {
    margin-top: 8px;
    border-width: 2px;
    border-style: groove;
}

#stats {
    width: 200px;
    overflow-x: scroll;
}

#graph {
    min-width: 100px;
}

